.wrapper {
  padding: 5px;
  display: grid;
  grid-template-columns: auto 1fr 10%;
  grid-auto-rows: 2fr 1fr;
  grid-gap: 0 5px;
  align-items: center;

  border-bottom: 1px solid grey;
}

.username {
  font-weight: 700;
  font-size: 1.8em;
}

.avatar {
  height: 80%;
  grid-row: 1 / span 2;
  border-radius: 50%;
}

.email {
  font-size: 0.8em;
  color: grey;
}
